*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: outfit;
    src: url("../assets/fonts/Outfit-Medium.ttf");
}

@font-face {
    font-family: outfit-bold;
    src: url("../assets/fonts/Outfit-Bold.ttf");
}

:root {
    --dark-navy: #1A2A33;
    --semi-dark-navy: #1F3641;
    --pads-shadow: #10212A;
    --silver: #A8BFC9;
    --silver-hover: #DBE8ED;
    --gray: #A8A8A8;
    --light-yellow: #F2B137;
    --light-blue: #31C3BD;
    --half-tone: #A8BFC90D;
    --light-yellow-hover: #FFC860;
    --light-blue-hover: #65E9E4;
    --gray-filter: invert(56%) sepia(0%) saturate(5236%) hue-rotate(149deg) brightness(118%) contrast(97%);
}

body {
    background: var(--dark-navy);
}

button {
    transition: background-color .33s, transform .33s;
}

button:active {
    transform: scale(.99);
}

.screen-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.debutton {
    color: var(--dark-navy);
    border-radius: 10px;
    border: none;
    padding: 17px;
    padding-top: 15px;
    font-family: outfit-bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    width: max-content;
    transition: background-color .33s;
}

.debutton.cancel-button {
    background: var(--silver);
    box-shadow: inset 0px -4px 0px #6B8997;
}

.debutton.continue-button {
    background: var(--light-yellow);
    box-shadow: inset 0px -4px 0px #CC8B13;
}

.debutton.cancel-button:hover {
    background: var(--silver-hover);
}

.debutton.continue-button:hover {
    background: var(--light-yellow-hover);
}

.hidden {
    top: -100%;
}

.shown {
    top: 0;
}

/* @media screen and (max-width: 480px) {
    .debutton {
        color: var(--dark-navy);
        border-radius: 10px;
        border: none;
        padding: 17px;
        padding-top: 15px;
        font-family: outfit-bold;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 1px;
        transition: background-color .33s;
    }
} */